@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body {
  background: linear-gradient(6deg, #4b6cb7 0%, #182848 100%);
  font-family: 'Fjalla One', sans-serif;
  color: #fff;
}
input:focus{
  outline: 0;
}
.days, .center {
  display: flex;
  flex-direction: row;
  flex:1;
  height: 100vh;
}
.loading {
  flex:1;
  align-self: center;
  text-align: center;
}
.weeknr {
  flex:2;
}
.weekbutton {
  flex:1;
  text-align: center;
  cursor: pointer;
}
.center {
  padding: 10px;
  display: flex;
}
.currentweek {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.button {
  border-radius: 20px;
  padding: 10px;
  background-color: cadetblue;
}